dll/
lib/
*.tlog
*.db
*.opendb
*.TMP
*.suo
*.orig
*.pdb
ipch/
Log.txt
Profiler.txt
TestResults.xml
Build\ Server/
Temp/
.vs/
*.ilk
*.exp

# Celeste Engine files
*Log.txt
*Profiler.txt
*Config.h.in

# Dolce files
*imgui.ini
DolceSettings.asset

# Installer files
Install/

# Build results
CMakeFiles/
[Bb]uild/
[Bb]uilds/
[Pp]roject/
[Pp]rojects/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/